body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 2rem;
    background-color: #0c2461;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

#loading {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10rem;
    display: none;
}


#recipe-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
}

.recipe-item img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.recipe-item h2 {
    margin: 0;
    font-size: 20px;
    padding: 10px;
    min-width: 200px;
}

.recipe-item p {
    margin: 0;
    padding: 10px;
    color: #777;
}

.recipe-item a {
    background-color: #0c2461;
    color: white;
    text-decoration: none;
    min-width: 150px;
    padding: 10px;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.recipe-item a:hover{
    background: #1e3799;
}

@media screen and (max-width: 768px){
    .container{
        max-width: 90%;
    }
    .recipe-item{
        flex-direction: column;
    }

    .recipe-item img{
        height: 100%;
        width: auto;
        margin-bottom: 10px;
    }

    .recipe-item h2{
        font-size: 20px;
        padding: 0;
        margin-bottom: 10px;
    }

    .recipe-item p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .recipe-item a {
        width: 100%;
        text-align: center;
    }
    
}